<div class="row">
  <div id="edit" class="col s6">
    <%= form_for(word) do |f| %>
      <% if word.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(word.errors.count, "error") %> prohibited this word from being saved:</h2>

          <ul>
            <% word.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>

      <div class="field">
        <%= f.label :body %>
        <%= f.text_area :body, id: 'raw-editor-body', class: 'materialize-textarea' %>
      </div>

      <div class="actions">
        <%= f.submit class: 'btn'%>
      </div>
    <% end %>
  </div>
  <div id="preview" class="markdown col s6"></div>
</div>

<script>
  $(function(){
    fn = function() { $('#preview').html(marked($('#raw-editor-body').val())) };
    setInterval(fn, 1500);
    $('.container').css('width', '90%')
    });
</script>
  
